.App {
    margin: 100px;
}

.input, .error, .label {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 6px;
}

.input {
    border: 1px solid black;
    margin: 4px 0;
}

.label {
    font-weight: bold;
    color: #241847;
    background: #d6c1ff;
    border: 2px solid #241847;
    margin: 4px 0;
}

.error {
    color: #8b0e10;
    background: #ffb5aa;
    border: 2px solid #46090a;
    margin: 4px 0;
}

.label-container {
    box-sizing: border-box;
    padding: 4px;
    background: #d6c1ff;
    border: 2px solid #241847;
}

.error-container {
    box-sizing: border-box;
    padding: 4px;
    background: #ffb5aa;
    border: 2px solid #46090a;
}

.label-container .input {
    margin: 0;
}

.error-container .error  {
    background: none;
    border: none;
    margin: 0;
}

.label-container .label {
    background: none;
    border: none;
    margin: 0;
}
